
.vs/Project2/v15/.suo
.vs/Project2/v15/Browse.VC.db
.vs/Project2/v15/Browse.VC.opendb
.vs/Project2/v15/ipch/AutoPCH/ec094f1b749d6ac4/PROJECT2CS360S2019.ipch
.vs/Project2/v15/.suo
.vs/Project2/v15/Browse.VC.db
.vs/Project2/v15/Browse.VC.db
.vs/Project2/v15/.suo
